{% extends 'base.html.twig' %}

{% block title %}Hello GetGoogleAgendaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/mnt/data/PT-concepteur/api-agenda/agenda-api/src/Controller/GetGoogleAgendaController.php'|file_link(0) }}">src/Controller/GetGoogleAgendaController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/mnt/data/PT-concepteur/api-agenda/agenda-api/templates/get_google_agenda/index.html.twig'|file_link(0) }}">templates/get_google_agenda/index.html.twig</a></code></li>
    </ul>
</div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée</th>
                <th>Temps libre</th>
            </tr>
            {% for index, elem in dataEvent %}
                <tr>
                    <td>
                        {{ elem.id }}
                    </td>
                    <td>
                        {{ elem.summary }}
                    </td>
                    <td>
                        {{ elem.start.dateTime| date }}
                    </td>
                    <td>
                        {{ elem.end.dateTime| date }}
                    </td>
                    <td>
                        {% set duration = date(elem.end.dateTime).diff(date(elem.start.dateTime)) %}
                        {{ duration|date("%hh%im") }}
                    </td>
                    {% if index > 0 %}
                    <td>
{#                        {% set libre = date(elem.start.dateTime).diff(date(dataEvent[index - 1].end.dateTime)) %}#}
{#                        {{ libre|date("%dJ%hh%im") }}#}
{#                    </td>#}
                    {% endif %}
                </tr>

            {% endfor %}
        </table>
    </div>


    <div>
        Event dans l'ordre :
        {% for elem in sortEvents %}
            {{ elem.id }} -- {{ elem.summary }} |
        {% endfor %}
    </div>
    <div>
        {% for elem in free %}
            <div>
                {{ elem.summary }}
                {{ elem.start.dateTime| date }} --- {{ elem.end.dateTime| date }}
                {% set libre = date(elem.start.dateTime).diff(date(elem.end.dateTime)) %}
                --- {{ libre|date("%dJ%hh%im") }}

            </div>

        {% endfor %}
    </div>
{% endblock %}
